{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>tREASUREGRAM</title>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top text-center">
    <a href="/">some text</a>
    {% if user.is_authenticated %}
    <a class="navbar-text navbar-right" href="{% url 'profile' user.username %}">{{user.username }}</a>
    <a class="navbar-text navbar-right" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="navbar-text navbar-right" href="{% url 'login' %}">login</a>
    {% endif %}
</nav>
<main class="container" role="main">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer" role="contentinfo">
    <div class="container">
        <p class="text-muted">&copy; Travel Tracker 2016</p>
    </div>
</footer>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>